.PlaylstTracks{
    overflow: scroll;
    max-height: 18.5em;
    overflow-x: hidden;
    padding-right: 1em;
    margin-top: 0.5em;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #282c34; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }